"*":
  "atom-ide-ui":
    "atom-ide-console": {}
    "atom-ide-datatip": {}
    use:
      "atom-ide-diagnostics-ui": false
  "atom-package-deps":
    ignored: []
  "atom-ternjs":
    inlineFnCompletionDocumentation: true
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "9ee3ec5e-c4cd-470f-8fa2-43217b740d2f"
  "linter-ui-default":
    panelHeight: 300
  livereload:
    applyImageLive: true
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "php-debug":
    currentPanelHeight: "206px"
    currentPanelMode: "bottom"
  "php-integrator-autocomplete-plus": {}
  "php-integrator-base":
    core:
      phpCommand: "D:\\xampp_php7\\php\\php.exe"
  pigments:
    autocompleteSuggestionsFromValue: true
    extendAutocompleteToColorValue: true
  "platformio-ide-terminal":
    core:
      shell: "C:\\Program Files\\Git\\bin\\bash.exe"
  "remote-ftp":
    connector:
      autoUploadOnSave: "only when connected"
    notifications:
      enableTransfer: true
  "todo-show":
    sortBy: "Path"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".editorconfig.source":
  editor:
    tabLength: 4
